.courses-nav {
    ul {
        list-style: none;
        text-align:center;
        padding-top: 100px;
        padding-bottom: 60px;
    }
    li {
        display:inline-block;
    }
    a {
        text-decoration: none;
        color:#222222;
        font-size:14px;
        padding:10px 30px 10px 0;
    }
    a:hover {
        color:$primaryColor;
    }
}

.courses-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    // display:flex;
    // flex-wrap:wrap;
    // justify-content: space-between;
    min-height:180px;
    height: 100%;
}
.courses-blocks div {
    // margin-bottom:20px;
}
.courses-text {
    max-width:270px;
    min-height: 200px;
    border:1px solid #e1e1e1;
    border-top:none;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    h5 {
        font-size:18px;
        font-weight: 700;
        margin:0;
        line-height: 24px;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:25px;
    }
    h6 {
        font-size:14px;
        font-weight:400;
        margin:0;
        line-height: 20px;
        
    }
    a {
        color:$primaryColor;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
    }
}
.course-author {
    display:flex;
    padding-left: 25px;
    div {
        margin:0;
    }
}
.course-author div:nth-child(2) {
    padding-left:20px;
}
.course-response {
    border-top:1px solid #e1e1e1;
    padding-left: 25px;
    padding-top: 15px;
    span {
        font-size:14px;
        line-height: 24px;
    }
}
.fa-users, .fa-comments {
    color:#666;
    padding-right:5px;
}
.course-response span:nth-child(3) {
    color:$primaryColor;
    position:relative;
    left:110px;
}
@media (max-width:1100px){
    .courses-blocks{

        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 940px) {
    .section-head {
        h4 {
            padding-top:50px;
        }
    }
    .courses-nav {
        ul {
            padding-top:50px;
        }
    }
    .courses-blocks {
        grid-template-columns: 1fr 1fr;
        div {
            // display:flex;
            margin:0 auto;
            padding-bottom:10px;
        }
        .course-response {
            margin:0;
        }
    }
    .course-author {
        div {
        padding-left:10px;
        }
    }
    
}
@media (max-width:667px) {
    .section-head h4 {
        padding:15px 0;
    }

    .courses-nav {
        ul {
            padding:0px;
        }
        a {
            padding-right:5px;
            text-decoration: underline;
            text-decoration-color: $primaryColor;
            font-weight:700;
            display: inline-block;
        }
    }
    .courses-blocks {
        
        img {
            // position: absolute;
            // z-index: 0;
        }
        .courses-text {
            // z-index: 10;
            // border:none;
            // background:rgba(255, 255, 255, 0.7);
            
        }
        a {
            // color: black;
            // font-weight: 700;
            // text-decoration: underline;
        }
        .course-author {
            div {
                // display:flex;
                // flex-direction: column;
                a, h6 {
                    // font-size: 18px;
                }
            }
        }
    }
    .course-response {
        border:none;
        span {
            &:nth-child(3) {
                color:black;
                font-weight: 700;
            }
        }
    }

}
@media (max-width:575px) {
    .courses-info .courses-blocks {
        grid-template-columns: 1fr;
    }
}