.info-bar {
    background:#222221;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    min-height:80px;
}

.info-contact {
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    font-size:12px;
    ul {
        display:flex;
        justify-content:space-between;
        li {
            padding:0 10px;
        }
    }
    i {
        color:$primaryColor;
        padding-right:5px;
    }
    a {
        color:white;
        text-decoration: none; 
        
    }
}
.info-logo {
    display:flex;
    flex:0 1 auto;
    align-items: center;
    img {
        max-width:38px;
    }
}
h1 {
    font-size:20px;
    font-weight:300;
    text-transform:uppercase;
    margin:0;
    padding:0 10px;
}
.info-login {
    ul {
        display:flex;
        list-style:none;
        justify-content: space-evenly;
        margin:0;
    }
    
    
    a {
        color:white;
        font-size:12px;
        text-decoration:none;
        font-weight:300;
        padding:10px;
        font-family:'Raleway', sans-serif;
        
    }
}
.info-login ul li:first-child {
    position:relative;
    padding-right:35px;
}
.info-login ul li:first-child:after {
    content:'';
    width:1px;
    height:15px;
    background:$secondaryColor;
    display: inline-block;
    position: absolute;
    bottom:0;
    right:15px;
}
.main-nav {
    position: relative;
    .fa-bars {
        color:$primaryColor;
        font-size:24px;
        position: absolute;
        right:0;  
        top:50%;
        left:50%;
        transform:translateY(-50%);
        padding-right:100px;
        display: none;
    }
}
.main-nav-links {
    
    ul {
    list-style: none;
    align-items: center;
    padding:0;
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    max-width:740px;
    margin:0 auto;
    width:100%;
    padding:28px 0;
    }
    a {
        text-decoration: none;
        text-transform:uppercase;
        font-size:14px;
        font-weight:700;
        color:#212121;
        line-height:24px;
        position:relative;
        padding:5px 0;
        &:hover {
            border-bottom:2px solid $primaryColor;
            border-top:2px solid $primaryColor;
        }
    }
}
.main-nav-links .fa-shopping-cart {
    color:$primaryColor;
}

.hero {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255,255,255,0.9), rgba(0, 0, 0, 0.3)), url('../assets/hero-image.jpg');
    width:100%;
    min-height: 950px;
    height:100%;
    background-size: cover;
    background-position: center;
}
.hero-text {
    text-align: center;
    color:#242c42;
    padding-top:310px;
    h2 {
        text-transform: uppercase;
        font-size:72px;
        line-height:90px;
        margin:0;
    }
    p {
        font-size:18px;
        line-height:30px;
        margin-bottom:55px;
        margin-top:55px; 
        animation: load 2s ease;  
    }
    a {
        background:$primaryColor;
        text-decoration: none;
        text-transform: uppercase;
        color:white;
        font-size:18px;
        line-height:90px;
        font-weight: 700;
        padding:20px 35px 20px;
        letter-spacing: 1px;
        margin-top:50px;
        animation: load 3s ease;
        &:hover,
        &:focus {
            background:rgba(255, 255, 255, 0.6);
            border:5px solid $primaryColor;
            color:black;
        }
    }
    @keyframes load {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
}

@media (max-width: 940px) {
    
    .hero {
        min-height:40vh;
    }
    .hero-text {
        padding-top:5vh;
        h2 {
            font-size:3rem;
            padding-top: 15px;
        }
        p {
            font-size:1rem;
        }
         
    }
    
}

@media (max-width: 667px) {
    .main-nav-links {
        display: none;
    }
    .main-nav {
        height:10vh;
        .fa-bars {
            display: block;
        }
    }
    .info-contact {
        ul {
            display:inline-block;
            li {
                margin:0;
                padding:0;
            }
        }
        i {
            visibility: hidden;
        }
    
    }
    .info-logo {
        img {
            max-width:25px;
        }
        h1 {
            font-size:1.5rem;
        }
    }
    .info-login ul {
        flex-direction: column;
        
    }
    .info-login {
        ul li {
            &:first-child {
                &:after {
                    display: none;
                }
            }
            
        }
        a {
            padding:0 5px;
        }
    }
    .hero {
        min-height:20vh;
    }
    .hero-text {
        padding-top:20px;
        h2 {
            font-size:1.75rem;
            padding-top: 20px;
        }
        p {
            margin: 20px 0;
        }
        a {
            font-size:16px;
            padding:15px 20px;
            margin-top:30px;
        }
    }

}
@media (max-width:480px) {
    .hero {
        max-width:480px;
        h2 {
            padding-top: 10px;
            line-height:36px;
        }
        p {
            font-size:12px;
        }
    }
    .info-login ul li.register {
        padding-right:0;
    }
    .hero-text {
        padding:0 5px;
    }
}