.info-bar {
    background:#222221;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    min-height:80px;
}

.info-contact {
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    font-size:12px;
    .info-phone {
        &:before {
                  
        }
    }
}
.info-logo {
    display:flex;
    align-items: center;
    img {
        max-width:38px;
    }
}
h1 {
    font-size:20px;
    font-weight:300;
    text-transform:uppercase;
    margin:0;
    padding:0 10px;
}
.info-login {
    ul {
        display:flex;
        list-style:none;
        justify-content: space-evenly;
        margin:0;
        // width:120px;
    }
    li
    
    a {
        color:white;
        font-size:12px;
        text-decoration:none;
        font-weight:300;
        padding:10px;
        font-family:'Raleway', sans-serif;
        // background: lavender;
        
    }
}

.info-login ul li:first-child:after {
    content:'';
    width:2px;
    height:5px;
    background-color:orange;
}
.main-nav {
    max-width:740px;
    margin:0 auto;
}
.main-nav-links {
    ul {
    list-style: none;
    align-items: center;
    padding:0;
    display: flex;
    justify-content: space-around;
    padding:28px 0;
    }
    a {
        text-decoration: none;
        text-transform:uppercase;
        font-size:14px;
        font-weight:700;
        color:#212121;
        line-height:24px;
    }
}
.main-nav-links .fa-shopping-cart {
    color:$primaryColor;
}

.hero {
    background:url('../assets/hero-image.jpg');
    width:100%;
    min-height: 950px;
    height:100%;
    background-size: cover;
    background-position: center;
}
.hero-text {
    text-align: center;
    color:#242c42;
    padding-top:310px;
    h2 {
        text-transform: uppercase;
        font-size:72px;
        line-height:90px;
        margin:0;
    }
    p {
        font-size:18px;
        line-height:30px;
        margin-bottom:55px;
        margin-top:55px;
    }
    a {
        background:$primaryColor;
        text-decoration: none;
        text-transform: uppercase;
        color:white;
        font-size:18px;
        line-height:90px;
        font-weight: 700;
        padding:25px 35px 25px;
        letter-spacing: 1px;
        margin-top:50px;
    }
}