$baseFont: 'Raleway', sans-serif;
$primaryColor:rgb(134, 188, 66);
$secondaryColor:#f0f2f7;


h3 {
    font-family: $baseFont;
    text-transform:uppercase;
    color:black;
    font-size:38px;
    font-weight:700;
    // line-height: 24px;
    text-align: center;
    margin:0;
}

h4 {
    font-size:18px;
    text-transform: uppercase;
    font-weight: 400;
    color:#222222;
    text-align: center;
    line-height: 24px;
    margin:0;
    padding-top:100px;
    padding-bottom:20px;
    
}
.mag {
    position: relative;
    &:before {
        content:"";
        width:25px;
        background:$primaryColor;
        display:block;
        height:1px;
        position: absolute;
        left:45%;
        top:70%;
    }
    &:after {
        content:"";
        width:25px;
        background:$primaryColor;
        display:block;
        height:1px;
        position: absolute;
        right:45%;
        top:70%;
    }
}

@media (max-width: 667px) {
    h3 {
        font-size:24px;
    }
    h4 {
        font-size:14px;
    }
}