article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin: 0; }

h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px; }

.mag {
  position: relative; }
  .mag:before {
    content: "";
    width: 25px;
    background: #86bc42;
    display: block;
    height: 1px;
    position: absolute;
    left: 45%;
    top: 70%; }
  .mag:after {
    content: "";
    width: 25px;
    background: #86bc42;
    display: block;
    height: 1px;
    position: absolute;
    right: 45%;
    top: 70%; }

.info-bar {
  background: #222221;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px; }

.info-contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px; }
  .info-contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .info-contact ul li {
      padding: 0 10px; }
  .info-contact i {
    color: #86bc42;
    padding-right: 5px; }
  .info-contact a {
    color: white;
    text-decoration: none; }

.info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .info-logo img {
    max-width: 38px; }

h1 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px; }

.info-login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0; }

.info-login a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  font-family: 'Raleway', sans-serif; }

.info-login ul li:first-child {
  position: relative;
  padding-right: 35px; }

.info-login ul li:first-child:after {
  content: '';
  width: 1px;
  height: 15px;
  background: #f0f2f7;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 15px; }

.main-nav {
  position: relative; }
  .main-nav .fa-bars {
    color: #86bc42;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 100px;
    display: none; }

input#menu {
  display: none; }

.main-nav-links ul {
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  width: 100%;
  padding: 28px 0; }

.main-nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  line-height: 24px;
  position: relative;
  padding: 5px 0; }
  .main-nav-links a:hover {
    border-bottom: 2px solid #86bc42;
    border-top: 2px solid #86bc42; }

.main-nav-links .fa-shopping-cart {
  color: #86bc42; }

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(0, 0, 0, 0.3))), url("../assets/hero-image.jpg");
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)), url("../assets/hero-image.jpg");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)), url("../assets/hero-image.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)), url("../assets/hero-image.jpg");
  width: 100%;
  min-height: 950px;
  height: 100%;
  background-size: cover;
  background-position: center; }

.hero-text {
  text-align: center;
  color: #242c42;
  padding-top: 310px; }
  .hero-text h2 {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 90px;
    margin: 0; }
  .hero-text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
    margin-top: 55px;
    -webkit-animation: load 2s ease;
    animation: load 2s ease; }
  .hero-text a {
    background: #86bc42;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 90px;
    font-weight: 700;
    padding: 20px 35px 20px;
    letter-spacing: 1px;
    margin-top: 50px;
    -webkit-animation: load 3s ease;
    animation: load 3s ease; }
    .hero-text a:hover, .hero-text a:focus {
      background: rgba(255, 255, 255, 0.6);
      border: 5px solid #86bc42;
      color: black; }

@-webkit-keyframes load {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes load {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.courses-nav ul {
  list-style: none;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px; }

.courses-nav li {
  display: inline-block; }

.courses-nav a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  padding: 10px 30px 10px 0; }

.courses-nav a:hover {
  color: #86bc42; }

.courses-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  min-height: 180px;
  height: 100%; }

.courses-text {
  max-width: 270px;
  min-height: 200px;
  border: 1px solid #e1e1e1;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .courses-text h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px; }
  .courses-text h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 20px; }
  .courses-text a {
    color: #86bc42;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300; }

.course-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px; }
  .course-author div {
    margin: 0; }

.course-author div:nth-child(2) {
  padding-left: 20px; }

.course-response {
  border-top: 1px solid #e1e1e1;
  padding-left: 25px;
  padding-top: 15px; }
  .course-response span {
    font-size: 14px;
    line-height: 24px; }

.fa-users, .fa-comments {
  color: #666;
  padding-right: 5px; }

.course-response span:nth-child(3) {
  color: #86bc42;
  position: relative;
  left: 110px; }

@media (max-width: 1100px) {
  .courses-blocks {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (max-width: 940px) {
  .section-head h4 {
    padding-top: 50px; }
  .courses-nav ul {
    padding-top: 50px; }
  .courses-blocks {
    grid-template-columns: 1fr 1fr; }
    .courses-blocks div {
      margin: 0 auto;
      padding-bottom: 10px; }
    .courses-blocks .course-response {
      margin: 0; }
  .course-author div {
    padding-left: 10px; } }

@media (max-width: 667px) {
  .section-head h4 {
    padding: 15px 0; }
  .courses-nav ul {
    padding: 0px; }
  .courses-nav a {
    padding-right: 5px;
    text-decoration: underline;
    -webkit-text-decoration-color: #86bc42;
    text-decoration-color: #86bc42;
    font-weight: 700;
    display: inline-block; }
  .course-response {
    border: none; }
    .course-response span:nth-child(3) {
      color: black;
      font-weight: 700; } }

@media (max-width: 575px) {
  .courses-info .courses-blocks {
    grid-template-columns: 1fr; } }

.gallery {
  background: #f0f2f7;
  padding-bottom: 70px; }

.gallery-photos {
  margin-top: 110px; }
  .gallery-photos div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery-photos img {
    max-width: 370px;
    width: 100%;
    margin-bottom: 30px;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
    .gallery-photos img:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.85);
      box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.85); }

.news-text {
  background: #f0f2f7;
  -webkit-box-shadow: 0px 1px 10px 5px lightgrey;
  box-shadow: 0px 1px 10px 5px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 85px; }
  .news-text:nth-child(1) {
    margin-top: 140px; }
  .news-text .news-text-main {
    max-width: 530px;
    width: 100%;
    padding-right: 20px;
    margin-top: 72px; }
  .news-text img {
    position: relative;
    bottom: 30px;
    left: 30px;
    max-width: 530px;
    width: 100%; }
  .news-text h5 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px; }
  .news-text span {
    font-size: 12px;
    font-weight: 300;
    line-height: 30px; }
  .news-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 70px;
    margin-top: 40px; }
  .news-text i {
    color: black;
    margin-right: 5px; }
  .news-text .fa-comment {
    margin-left: 10px; }
  .news-text a {
    color: white;
    background: #86bc42;
    text-decoration: none;
    display: block;
    padding: 25px 0;
    max-width: 150px;
    width: 100%;
    text-align: center; }
    .news-text a:hover {
      opacity: 0.5; }
  @media (max-width: 940px) {
    .news-text .news-text {
      margin-bottom: 0px;
      position: relative; }
      .news-text .news-text:nth-child(1) {
        margin-top: 20px; }
      .news-text .news-text:nth-child(3) {
        margin-bottom: 40px; }
      .news-text .news-text img {
        position: relative;
        top: 0px;
        left: 0px;
        max-width: 250px;
        min-height: 250px;
        height: 100%;
        padding-top: 20px; }
      .news-text .news-text div {
        padding-top: 5px;
        padding-left: 10px; }
      .news-text .news-text h5 {
        margin: 0;
        padding-top: 5px;
        font-size: 20px; }
      .news-text .news-text p {
        margin-top: 20px;
        margin-bottom: 10px; }
      .news-text .news-text a {
        position: relative;
        bottom: 0px;
        padding: 10px 15px;
        margin-bottom: 15px; }
    .news-text .news-text div {
      margin-top: 20px; }
    .news-text .news-container {
      margin-bottom: 20px; } }
  @media (max-width: 667px) {
    .news-text .news-text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      padding-left: 50px; }
      .news-text .news-text div span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .news-text .news-text h5 {
        font-size: 18px; } }
  @media (max-width: 480px) {
    .news-text .news-text {
      margin-bottom: 20px; }
      .news-text .news-text div {
        margin-top: 10px; }
        .news-text .news-text div span {
          display: inline-block; }
        .news-text .news-text div p {
          margin-top: 10px;
          margin-bottom: 20px; }
        .news-text .news-text div a {
          margin-bottom: 20px;
          padding: 10px 10px; }
      .news-text .news-text img {
        display: none; } }

.difference {
  background: #f0f2f7; }

.diff-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 130px;
  padding-bottom: 135px; }

.diff-info div img {
  width: 100%;
  max-width: 30px;
  z-index: 100; }

.diff-info div h5 {
  font-size: 24px;
  color: #222;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px; }

.concept, .experience, .design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 335px;
  position: relative; }

.diff-text {
  padding-left: 15px;
  z-index: 10000; }
  .diff-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }

.bg-circle {
  background: rgba(255, 255, 255, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 0; }

.pricing {
  margin-bottom: 110px; }

.trial-price {
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  background: #f0f2f7;
  width: 110px;
  height: 110px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: 50px; }
  .trial-price span {
    position: relative;
    top: 25px;
    left: 5px; }
    .trial-price span:before {
      content: '$';
      font-size: 20px;
      position: absolute;
      top: -25%;
      left: -35%; }

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.price-options {
  max-width: 370px;
  width: 100%;
  display: inline-block;
  text-align: center;
  min-height: 595px;
  height: 100%; }

.price-details {
  background: #f0f2f7;
  padding-top: 72px; }
  .price-details h5 {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px; }
  .price-details span {
    font-size: 14px; }
  .price-details ul {
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    line-height: 48px;
    background: white;
    margin: 0 10px;
    min-height: 385px;
    padding-top: 40px;
    margin-top: 30px; }
  .price-details a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 25px; }

.price-options:hover .trial-price,
.price-options:hover .price-details {
  background: #86bc42; }

footer {
  background: #252525;
  padding-top: 80px;
  color: white; }
  footer h5 {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    margin: 0; }
  footer p {
    margin: 0; }
  footer ul {
    margin: 0; }

.footer-text {
  min-height: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-blurb-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-blurb-logo img {
    margin-right: 10px;
    width: 100%;
    max-width: 25px; }

.footer-blurb {
  width: 100%;
  max-width: 255px; }
  .footer-blurb p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 24px;
    margin-bottom: 20px; }
    .footer-blurb p span {
      color: #86bc42; }
  .footer-blurb li {
    list-style-position: inside;
    list-style-image: url("../assets/check-mark.png");
    font-size: 14px;
    line-height: 24px; }

.footer-courses ul {
  margin-top: 30px; }

.footer-courses li {
  line-height: 40px;
  font-size: 14px; }

.footer-courses a {
  color: white;
  text-decoration: none; }

.footer-courses li:hover {
  list-style-image: url("../assets/green-angle.png"); }

.footer-contact {
  max-width: 155px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }
  .footer-contact i {
    color: green;
    margin-top: 30px; }
  .footer-contact span {
    display: inline-block;
    line-height: 24px; }
  .footer-contact p {
    display: inline-block;
    margin-top: 30px; }
  .footer-contact a {
    text-decoration: none;
    color: white; }

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-address i {
    padding-top: 5px; }

.footer-newsletter {
  max-width: 300px;
  width: 100%; }
  .footer-newsletter p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
    margin-top: 30px; }
  .footer-newsletter span {
    font-size: 12px;
    color: #999;
    font-weight: 300;
    line-height: 26px; }

.footer-newsletter p {
  margin-bottom: 30px; }

.footer-newsletter ul {
  margin-top: 20px; }

.footer-newsletter li {
  display: inline-block;
  margin-right: 20px; }

.footer-newsletter a {
  font-size: 24px; }

.footer-newsletter .fa-facebook-square {
  color: #3b5998; }

.footer-newsletter .fa-twitter-square {
  color: #1da1f2; }

.footer-newsletter .fa-google-plus-square {
  color: #dd4b39; }

.footer-newsletter .fa-instagram {
  color: #833ab4; }

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  .email-input input {
    width: 100%;
    max-width: 230px;
    color: #999;
    font-size: 12px;
    line-height: 26px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    padding-left: 28px;
    border-radius: 5px;
    border: none;
    min-height: 40px; }
  .email-input a {
    background: #86bc42;
    color: white;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 40px;
    padding-top: 8px; }
    .email-input a:hover {
      opacity: 0.8; }

.footer-copyright {
  background: black;
  padding: 30px 0; }
  .footer-copyright div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-copyright div li {
      display: inline-block; }
      .footer-copyright div li a {
        text-decoration: none;
        font-size: 10px;
        color: white;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 300;
        padding-right: 30px; }
  .footer-copyright p {
    font-size: 14px;
    -ms-flex-item-align: center;
    align-self: center; }
    .footer-copyright p span {
      color: #86bc42; }

@media (max-width: 1200px) {
  .news {
    margin-bottom: 150px; }
  .news-text {
    max-width: 1000px;
    margin: 0 auto; }
    .news-text img {
      bottom: 0;
      left: 0;
      width: 100%; }
  .news-text .news-text-main {
    max-width: 400px; }
    .news-text .news-text-main a {
      padding: 15px 10px; }
  .diff-info {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px; }
  .footer-copyright div {
    max-width: 1000px; } }

@media (max-width: 940px) {
  .gallery-photos {
    margin-top: 50px; }
  .gallery-photos img {
    width: 33%; }
    .gallery-photos img:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-box-shadow: none;
      box-shadow: none; }
  .courses-block {
    grid-gap: 0px; }
  .hero {
    min-height: 40vh; }
  .hero-text {
    padding-top: 5vh; }
    .hero-text h2 {
      font-size: 3rem;
      padding-top: 15px; }
    .hero-text p {
      font-size: 1rem; }
  .news-text-main {
    margin-top: 10px; }
  .news-text-main p {
    margin-top: 0px; }
  footer {
    padding-top: 25px; }
    footer h5 {
      font-size: 18px; }
  .footer-courses
ul li {
    line-height: 28px; } }

@media (max-width: 667px) {
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 14px; }
  .mag .mag-icon {
    padding-top: 5px; }
  .mag:before {
    display: none; }
  .mag:after {
    display: none; }
  .diff-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 500px;
    padding-top: 75px; }
  .section-head h4 {
    padding-top: 25px; }
  .diff-info .bg-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: -25px; }
  .main-nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    display: none;
    overflow: hidden;
    padding: 0; }
  .main-nav input:checked ~ .main-nav-links ul {
    display: block; }
  .main-nav-links a {
    display: block; }
  .main-nav label {
    display: block;
    cursor: pointer;
    background: url("../assets/hamburger.png") no-repeat center;
    background-size: 30px;
    min-height: 60px; }
  .info-contact ul {
    display: inline-block; }
    .info-contact ul li {
      margin: 0;
      padding: 0; }
  .info-contact i {
    visibility: hidden; }
  .info-logo img {
    max-width: 25px; }
  .info-logo h1 {
    font-size: 1.5rem; }
  .info-login ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info-login ul li:first-child:after {
    display: none; }
  .info-login a {
    padding: 0 5px; }
  .hero {
    min-height: 20vh; }
  .hero-text {
    padding-top: 20px; }
    .hero-text h2 {
      font-size: 1.75rem;
      padding-top: 20px; }
    .hero-text p {
      margin: 20px 0; }
    .hero-text a {
      font-size: 16px;
      padding: 15px 20px;
      margin-top: 30px; }
  .gallery-photos div {
    display: grid;
    grid-template-columns: 1fr; }
    .gallery-photos div img {
      margin: 0 auto;
      width: 100%;
      max-width: 380px;
      padding-bottom: 15px; }
  .news-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .news-text img {
      max-width: 400px;
      margin-top: 15px; }
    .news-text p {
      margin-bottom: 40px; }
    .news-text a {
      margin-bottom: 15px; }
  .news-text .news-text-main {
    margin-top: 50px; }
  .price-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .price-options {
    margin: 0 auto;
    max-width: 300px; }
  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .footer-blurb {
    max-width: 400px; }
    .footer-blurb ul {
      margin-bottom: 15px; }
    .footer-blurb .footer-blurb-logo {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer-blurb p {
      margin: 15px 0; }
  .footer-courses ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0; }
    .footer-courses ul li {
      padding: 0 5px; }
  .footer-courses li:hover {
    list-style-type: circle; }
  .footer-contact i, .footer-contact p {
    margin-top: 10px; }
  .footer-newsletter h5 {
    margin-top: 15px; }
  .footer-newsletter p {
    margin: 10px 0; }
  .footer-newsletter .email-input {
    margin-bottom: 15px; }
    .footer-newsletter .email-input i {
      font-size: 12px; } }

@media (max-width: 480px) {
  .hero {
    max-width: 480px; }
    .hero h2 {
      padding-top: 10px;
      line-height: 36px; }
    .hero p {
      font-size: 12px; }
  .info-login ul li.register {
    padding-right: 0; }
  .hero-text {
    padding: 0 5px; }
  .news-text {
    padding-right: 20px; }
    .news-text p {
      font-size: 12px; }
  .diff-info {
    margin-top: 25px;
    padding-right: 5px;
    padding-bottom: 30px; }
  .diff-info div h5 {
    font-size: 18px;
    margin-bottom: 5px; }
  .diff-info div img {
    max-width: 20px; }
  .diff-text p {
    margin-top: 5px; }
  .price-details ul {
    line-height: 36px;
    min-height: 275px;
    padding-top: 10px; }
  .footer-text {
    text-align: left; }
    .footer-text h5 {
      text-align: center; }
  .footer-courses {
    max-width: 475px; }
    .footer-courses ul li {
      padding: 0 2px; }
  .footer-contact {
    max-width: 400px; }
  .footer-newsletter {
    max-width: 400px; }
  .email-input input {
    max-width: 425px;
    border-radius: 0; }
  div.footer-newsletter ul {
    margin-top: 10px;
    margin-bottom: 10px; }
  .footer-copyright .wrapper {
    padding: 10px;
    margin: 0 15px; }
    .footer-copyright .wrapper p {
      font-size: 10px; }
  .footer-copyright div ul li a {
    padding-right: 5px; } }

body {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth; }

img {
  display: block; }

ul {
  padding: 0;
  list-style-type: none; }

.wrapper {
  max-width: 1170px;
  width: auto;
  margin: 0 auto; }

.mag-icon {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 25px; }

.circle {
  width: 40px;
  height: 40px;
  border: 1px;
  background-color: #b7b7b7;
  border-radius: 20px; }
