// ESTHER EDELL PROJECT 2
@import "setup";
@import "components/variables";
@import "components/header";
@import "components/courses";
@import "components/gallery";
@import "components/news";
@import "components/differences";
@import "components/pricing";
@import "components/footer";

body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
img {
    display:block;
}
ul {
    padding:0;
    list-style-type: none;
}
.wrapper {
    max-width:1170px;
    width:auto;
    margin:0 auto;
}
.mag-icon {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    padding-top:25px;
}

.circle {
        width:40px;
        height:40px;
        border:1px;
        background-color:#b7b7b7;
        border-radius: 20px;

}

