@import "setup";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "typography";

.wrapper {
    max-width:1170px;
    width:auto;
    margin:0 auto;
    // background-color:orange;
}



//make partial
//save the partial
//delete partial
//import the partial
//save style.scss