article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 38px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0; }

h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px; }

.info-bar {
  background: #222221;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px; }

.info-contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px; }

.info-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .info-logo img {
    max-width: 38px; }

h1 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px; }

.info-login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0; }

.info-login li
a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  font-family: 'Raleway', sans-serif; }

.info-login ul li:first-child:after {
  content: '';
  width: 2px;
  height: 5px;
  background-color: orange; }

.main-nav {
  max-width: 740px;
  margin: 0 auto; }

.main-nav-links ul {
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 28px 0; }

.main-nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  line-height: 24px; }

.main-nav-links .fa-shopping-cart {
  color: #86bc42; }

.hero {
  background: url("../assets/hero-image.jpg");
  width: 100%;
  min-height: 950px;
  height: 100%;
  background-size: cover;
  background-position: center; }

.hero-text {
  text-align: center;
  color: #242c42;
  padding-top: 310px; }
  .hero-text h2 {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 90px;
    margin: 0; }
  .hero-text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
    margin-top: 55px; }
  .hero-text a {
    background: #86bc42;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 90px;
    font-weight: 700;
    padding: 25px 35px 25px;
    letter-spacing: 1px;
    margin-top: 50px; }

.courses-nav ul {
  list-style: none;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px; }

.courses-nav li {
  display: inline-block; }

.courses-nav a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  padding: 10px 30px 10px 0; }

.courses-nav a:hover {
  color: #86bc42; }

.courses-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 180px;
  height: 100%; }

.courses-blocks div {
  margin-bottom: 30px; }

.courses-text {
  max-width: 270px;
  min-height: 200px;
  border: 1px solid #e1e1e1;
  border-top: none;
  padding: 0 25px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .courses-text h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .courses-text h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 20px; }
  .courses-text a {
    color: #86bc42;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300; }

.course-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .course-author div {
    margin: 0; }

.course-author div:nth-child(2) {
  padding-left: 20px; }

.course-response {
  border-top: 1px solid #e1e1e1; }
  .course-response span {
    font-size: 14px;
    line-height: 24px; }

.fa-users, .fa-comments {
  color: #666;
  padding-right: 5px; }

.course-response span:nth-child(3) {
  color: #86bc42;
  position: relative;
  left: 110px; }

body {
  font-family: 'Raleway', sans-serif; }

img {
  display: block; }

.wrapper {
  max-width: 1170px;
  width: auto;
  margin: 0 auto; }

.circle {
  width: 40px;
  height: 40px;
  border: 1px;
  background-color: #b7b7b7;
  border-radius: 20px; }
