@import "setup";
@import "components/variables";
@import "components/header";
@import "components/courses";
@import "components/gallery";
@import "components/news";
@import "components/differences";
@import "components/pricing";
@import "components/footer";
// * {
//     border:1px solid red;
//  }
body {
    font-family: 'Raleway', sans-serif;
}
img {
    display:block;
    // width:100%;
}
ul {
    padding:0;
    list-style-type: none;
}
.wrapper {
    max-width:1170px;
    width:auto;
    margin:0 auto;
}
.mag-icon {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    padding-top:25px;
}

.circle {
        width:40px;
        height:40px;
        border:1px;
        background-color:#b7b7b7;
        border-radius: 20px;
        // float:left;
        // display: flex;

}




//make partial
//save the partial
//delete partial
//import the partial
//save style.scss